<?php

define("DEV_MODE", (bool)"%DEV_MODE?0%");
define("CONF_SSH_KEY_FILE", "%CONF_SSH_KEY_FILE?/opt/ssh_keys%");

define("STANDALONE", (bool)"%STANDALONE?0%");
define("STANDALONE_PATH", "%STANDALONE_PATH?/opt/mock/repos/demo1-weba%");
define("STANDALONE_DOC_PATH", "%STANDALONE_DOC_PATH?/docs%");

define("CONF_SUBSCRIPTION_ENDPOINT", "%CONF_SUBSCRIPTION_ENDPOINT?/opt/mock/sub%");
define("CONF_SUBSCRIPTION_CLIENT_ID", "%CONF_SUBSCRIPTION_CLIENT_ID?micx-pagebuilder%");
define("CONF_SUBSCRIPTION_CLIENT_SECRET", "%CONF_SUBSCRIPTION_CLIENT_SECRET?%");

define("CONF_REDIS_HOST", "%CONF_REDIS_HOST?%");
define("CONF_REDIS_PORT", "%CONF_REDIS_PORT?6379%");
define("CONF_REDIS_CHANNEL", "%CONF_REDIS_CHANNEL?micx.pagebuilder.publish%");

define("CONF_PREVIEW_HOST", "%CONF_PREVIEW_HOST?prev.micx.io%");

const CONF_API_MOUNT = "/v1/pagebuilder";

const DEFAULT_IS_CHANGED_FILE = "/.git/pb_chanded";

if (DEV_MODE === true) {
    define("CONF_REPO_PATH", "/opt/mock/repos");

} else {
    define("CONF_REPO_PATH", "/data");
}


